#content {
	color:green;
	}

div.key ul {
	display:inline-block;
}

div.key li {
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius : 5px;
	width : 25px;
	text-align: center;	
}

ul.numbers li {
	background-color:lime;
}

ul.stars li {
	background-color:yellow;
}
